/*css reset*/
html, body, div, span, h1, h2, p, img, ol, ul, li, form, label,
table, tr, td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

:focus {
	outline: 1;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

ul {
    list-style: none;
}

/* a search bar icon write by yuyangGong
 * set font-size to change the icon size
 * set color to change the icon color
 */
.bar {
    position: relative;
    display: inline-block;
    margin: .3em;
    font-size: 1em;
    width: .6em;
    height: .6em;
    border-radius: 50%;
    border: .25em solid currentColor;
}
.bar:after {
    content: "";
    position: absolute;
    width: .2em;
    height: .7em;
    border-radius: 1em;
    background-color: currentColor;
    transform: rotate(45deg);
    top: .6em;
    margin-left: -.2em;
    margin-top: -.1em;
}

/* main */
body {
    padding: 15% 8% 0;
    min-width: 480px;
    font-size: 24px;
    font-family: "Microsoft YaHei";
}
.search {
    width: 60%;
    margin: 0 auto;
    text-align: center;
}
.search .wrap {
    display: inline-block;
    position: relative;
}
.search .title {
    display: inline-block;
    font-size: 2.5em;
    color: #999;
    margin-bottom: .3em;
}
@media screen and (max-width:790px) {
    .search .title{
        font-size: 2em;
    }
}
/*.search .title + div {
    width: 100%;
}*/
.search-bar {
    display: block;
    text-align: left;
    font-size: .6em;
    color: #aaa;
    padding: .3em;
    border-radius: 2333px;   /*huge size for the fillet*/
    border: .6em solid currentColor;
}
.search-bar:hover .bar{
    animation: rotate .6s ease-in-out 1;
}
@keyframes rotate{
    0% {-webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);}
    100% {-webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);}
}
.search-content {
    display: block;
    position: absolute;
    margin-top: -2.4em;
    width: 80%;
    padding: 0em 3em;
    outline: none;
    border: none;
    background-color: transparent;
}
.btn {
    position: relative;
    text-align: center;
    font-size: 1em;
    margin-top: .9em;
}
.btn1, .btn2 {
    display: inline-block;
    width: 6em;
    height: 1.8em;
    border-radius: .5em;
    line-height: 1.8em;
    box-shadow: 2px 2px 5px 1px #777;
    text-align: center;
    font-size: .8em;
    color: #fff;
    transition: all .3s ease-in-out;
}
.btn1 {
    background-color: #5fae60;
    margin-right: 2em;
}
.btn1:hover {
    color: #5fae60;
    background-color: #fff;
}
.btn2 {
    background-color: #5280a0;
    border: none;
    outline: none;
    cursor: pointer;
}
.btn2:hover {
    color: #5280a0;
    background-color: #fff;
}
.content {
    overflow: hidden;
    width: 100%;
    box-sizing: border-box;
    font-size: 18px;
    margin-bottom: 5%;
}
.content > div{
    background-color: #bbb;
    color: #fff;
    padding: 1em 2em;
    margin-top: 1em;
    border-radius: .7em;
}
.content > div > h3{
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    margin-bottom: .5em;
}
.content > div > h3 > a:hover{
    color: #5280a0;
    text-decoration: underline;
    transition: all .2s ease-in-out;
}