/*css reset*/
html, body, div, span, h1, h2, p, img, ol, ul, li, form, label,
table, tr, td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

ul {
    list-style: none;
}
button {
    background-color: transparent;
    outline: none;
    border: none;   
}
/* main */
.container {
    position: relative;
    text-align: center;
    height: 640px;
    width: 1260px;
    padding: 15px 0px;
    box-sizing: border-box;
    font-size: 40px;
    font-family: "microsoft Yahei";
    font-weight: 900;
    margin: 30px auto;
    box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, .2);
}
.container h2 {
    font-size: 24px;
    margin: .4em;
}
.container h3 {
    font-size: 20px;
    margin: .2em;
    color: #888;
}
.container h4 {
    font-size: 12px;
    width: 400px;
    margin: 0 auto;
    color: #ccc;
}
.graph {
    position: relative;
    width: 1052px;
    margin: 20px auto 0;
    height: 420px;
    color: #777;
    font-weight: 100;
}
.graph div {
    position: absolute;
    box-sizing: border-box;
    width: 4px;
    height: 35px;
    background-color: black;
    cursor: pointer;
}
.graph div span {
    position: absolute;
    top: -80px;
    left: -55px;
    display: none;
    text-align: center;
    font-size: 12px;
    width: 120px;
    padding: 5px 5px 10px;
    border-radius: 10px;
    white-space: pre-wrap;
    background-color: white;
    text-indent: 0;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .1);
    z-index: 1;
    transition: all .3s ease-in-out;
}
h5, h6 {
    margin: 6px 0;
}
.graph div:hover {
    border: 1px 1px 5px 1px blue;
}
.graph div:hover span {
    display: block;
}
.color-block {
    position: absolute;
    right: 106px;
    bottom: 20px;
    width: 360px;
    height: 20px;
}
.color-block div {
    position: absolute;
    width: 30px;
    height: 20px;
    font-size: 12px;
    font-weight: 100;
    color: #555;
}
.color-block div span {
    position: absolute;
    display: inline-block;
    top: 25px;
    right: 11px;
}
.color-block > div:last-child span, .color-block > div:nth-last-child(2) span {
    right: 7px;
}

.x-line {
    position: absolute;
    left: 104px;
    width: 1052px;
    height: 2px;
    background-color: #000;
}
.x-line:before {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 2px;
    height: 10px;
    background-color: black;
}
.x-line:after {
    content: "Years";
    position: absolute;
    font-size: 16px;
    top: 38px;
    left: 500px;
}
.x-line div {
    position: absolute;
    top: 15px;
    font-size: 12px;
    font-weight: 400;
}
.x-line div:before {
    content: '';
    position: absolute;
    left: 13px;
    top: -15px;
    width: 2px;
    height: 10px;
    background-color: black;
}
.y-line {
    text-align: right;
}
.y-line div {
    position: absolute;
}
.y-line:before {
    content: "Months";
    position: absolute;
    top: 340px;
    left: 0;
    font-size: 16px;
}