/*css reset*/
html, body, div, span, h1, h2, p, img, ol, ul, li, form, label,
table, tr, td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

:focus {
    outline: 1;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

ul {
    list-style: none;
}
button {
    background-color: transparent;
    outline: none;
    border: none;   
}
/* main */
html {
    background-color: #0a1025;
    font-size: 20px;
    height: 100%;
    font-family: 'Microsoft YaHei';
}
body {
    position: relative;
    height: 100%;
}
.game {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 18rem;
    height: 25rem;
    text-align: center;
}

.btn {
    transition: all .4s ease-in-out;
    width: 6rem;
    height: 6rem;
    border-radius: 50%;
    box-shadow: 1px 1px 50px 5px rgba(0, 0, 0, .1);
}
.strict {
    transition: all .4s ease-in-out;
}
.btn1 {
    background-color: #f0b40c;
    margin-bottom: .9rem;
    margin-right: .45rem;
}
.btn2 {
    background-color: #e02431;
    margin-left: .45rem;
}
.btn3 {
    background-color: #0c6af0;
    margin-right: .45rem;
}
.btn4 {
    background-color: #4d993a;
    margin-left: .45rem;
}
.setter {
    margin-top: 1rem;
    color: #aaa;
    font-weight: 900;
}
.strict { 
    margin-left: .5rem;
    font-size: .7rem;
    padding: .2rem 0;
    width: 4rem;
    border-radius: 10px;
    box-shadow: 1px 1px 50px 5px rgba(0, 0, 0, .1);
    cursor: pointer;
}
.start, .reset {
    margin-top: .8rem;
    width: 4rem;
    height: 1.8rem;
    font-size: 1rem;
    border-radius: 10px;
    color: #0a1025;
    cursor: pointer;
    transition: all .4s ease-in-out;
}
.start:hover, .reset:hover {
    background-color: #fff;
}
.start {
    margin-right: 1rem;
    background-color: #4d993a;
}
.reset {
    background-color: #f0b40c;
}
.final {
    font-size: 1.5rem;
    margin-top: .6rem;
    color: #aaa;
    font-weight: 900;
}
.warn {
    margin-top: .5rem;
    font-size: .8rem;
}
@media screen and (max-width: 760px) {
    html {
        font-size: 18px;
    }
    .game {
        width: 16rem;
    }
}