/*css reset*/
html, body, div, span, h1, h2, p, img, ol, ul, li, form, label,
table, tr, td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}
body {
    line-height:1;
}
a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

ul {
    list-style: none;
}
button {
    background-color: transparent;
    outline: none;
    border: none;   
}
/* main */
.container {
    position: absolute;
    text-align: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 540px;
    width: 1140px;
    padding: 15px 0px;
    box-sizing: border-box;
    font-size: 40px;
    font-family: "microsoft Yahei";
    font-weight: 900;
    margin: auto;
    box-shadow: 1px 1px 30px 1px rgba(0, 0, 0, .2);
}
.container h2 {
    font-size: 24px;
    margin: .4em;
}
.container h3 {
    font-size: 20px;
    margin: .2em;
    color: #888;
}
.container h4 {
    font-size: 16px;
    margin: 0;
    color: #ccc;
}
.graph {
    position: relative;
    width: 940px;
    margin: 0 auto;
    height: 370px;
    color: #777;
    font-weight: 100;
}
.graph div, .doping, .no-doping {
    position: absolute;
    box-sizing: border-box;
    text-indent: 12px;
    font-size: 12px;
    white-space: nowrap;
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background-color: black;
    cursor: pointer;
}
.doping, .no-doping {
    color: #555;
    cursor: none;
}
.doping {
    right: 220px;
    top: 260px;
    background-color: red;
}
.no-doping {
    right: 220px;
    top: 285px;
    background-color: green;
}
.graph div span {
    position: absolute;
    top: 10px;
    display: none;
    text-align: center;
    font-size: 12px;
    width: 140px;
    padding: 5px 5px;
    border-radius: 10px;
    white-space: pre-wrap;
    background-color: white;
    text-indent: 0;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, .1);
    z-index: 1;
    transition: all .3s ease-in-out;
}
h5, h6 {
    margin: 6px 0;
}
.graph div:hover {
    box-shadow: 1px 1px 5px 1px blue;
}
.graph div:hover span {
    display: block;
}
.x-line {
    position: absolute;
    left: 90px;
    width: 950px;
    height: 1px;
    background-color: #000;
}
.y-line {
    position: absolute;
    left: -90px;
    top: 288px;
    width: 380px;
    height: 1px;
    background-color: #000;
    transform: rotate(90deg);
}
.x-line-num, .y-line-num {
    position: absolute;
    font-size: 14px;
    font-weight: 100;
}
.x-line-num {
    top: -377px;
    left: -20px;
}
.x-line-num:before {
    content: '.';
    font-size: 0;
    position: absolute;
    top: 7px;
    left: 22px;
    width: 8px;
    height: 1px;
    background-color: #000;
}
.x-line-num:first-child {
    left: -12px;
}
.x-line-num:first-child:before {
    left: 15px;
}
.x-line-num:first-child:after {
    content: 'Ranking';
    position: absolute;
    left: -80px;
    top: 20px;
    font-weight: 900;
    transform: rotate(-90deg);
    font-size: 20px;
}
.x-line-num:nth-child(2) {
    left: -12px;
}
.x-line-num:nth-child(2):before {
    left: 15px;
}
.y-line-num {
    top: 480px;
    left: 1015px;
}
.y-line-num:before {
    content: '.';
    font-size: 0;
    position: absolute;
    transform: rotate(-90deg);
    top: -8px;
    left: 14px;
    width: 8px;
    height: 1px;
    background-color: #000;
}
.y-line-num:first-child:after {
    content: 'Minutes Behind Fastest Time(min)';
    position: absolute;
    right: 315px;
    top: 25px;
    white-space: nowrap;
    font-weight: 900;
    font-size: 20px;
}