/*css reset*/
html, body, div, span, h1, h2, p, img, ol, ul, li, form, label,
table, tr, td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

:focus {
    outline: 1;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

ul {
    list-style: none;
}
/* main */
html {
    width: 100%;
    height: 100%;
    font-family: 'Microsoft YaHei';
    background-color: #344050;
    color: #fd6d6d;
    font-size: 20px;
}
@media screen and (max-width:480px) {
    html {
        font-size: 16px;
    }
}
body {
    position: relative;
    height: 100%;
    width: 100%;
}
.wrap {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    width: 16rem;
    height: 24rem;
    background-color: #fff;
    border-radius: 15px;
    box-shadow: 0px 0px 66px 1px rgba(0, 0, 0, .2);
    padding: 2rem 1.5rem;
}
.wrap button {
    background-color: transparent;
    outline: none;
    border: none;
    font-size: 1rem;
}
.wrap .break, .wrap .session {
    text-align: center;
    width: 6.5rem;
    color: #344050;
    font-size: 1.5rem;
    vertical-align: middle;
}
.wrap .sub, .wrap .add {
    font-size: 1.6rem;
    padding: .1rem .6rem;
    font-weight: 900;
    cursor: pointer;
    color: #fc6e6d;
    transition: all .3s ease-in-out;
}
.wrap .sub:hover, .wrap .add:hover {
    color: red;
}
.wrap .break .title, .wrap .session .title {
    font-size: 1.1rem;
    opacity: .8;
    margin-bottom: .2rem;
}
.wrap .timer {
    margin-left: .1rem;
}
.wrap .break {
    float: left;
}
.wrap .session {
    float: right;
}
.wrap .content {
    text-align: center;
    margin-top: 7.5rem;
    font-weight: 700;
}
.wrap .content .btn {
    position: relative;
    font-size: 1.75rem;
    color: #fc6e6c;
    width: 2.3em;
    height: 2.3em;
    border-radius: 50%;
    background-color: #fff;
    border: .37em solid currentcolor;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.wrap .content .btn:hover {
    color: red;
}
.wrap .content .btn1:before {
    content: '';
    font-size: 1em;
    position: absolute;
    top: .23em;
    left: .45em;
    width: 0px;
    height: 0px;
    background-color: currentcolor;
    border-left: .95em solid currentcolor;
    border-top: .6em solid #fff;
    border-bottom: .6em solid #fff;
    border-radius: 3px;
}
.wrap .content .btn2:before, .wrap .content .btn2:after{
    content: '';
    top: .3em;
    left: .4em;
    font-size: 1em;
    position: absolute;
    width: .3em;
    height: 1.0em;
    background-color: currentcolor;
    border-radius: 1111px;
}
.wrap .content .btn2:after {
    left: .95em;

}
.wrap .content .type {
    font-size: 2rem;
    margin-top: 1.2rem;
}
.wrap .content .time {
    font-size: 1.5rem;
    margin-top: .6rem;
}