/*css reset*/
html, body, div, span, h1, h2, p, img, ol, ul, li, form, label,
table, tr, td{
    margin:0;
    padding:0;
    border:0;
    outline:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
}

body {
    line-height:1;
}

:focus {
    outline: 1;
}

a {
    margin:0;
    padding:0;
    border:0;
    font-size:100%;
    vertical-align:baseline;
    background:transparent;
    color: inherit;
    text-decoration: none;
}

table {
    border-collapse:collapse;
    border-spacing:0;
}

hr {
    display:block;
    height:1px;
    border:0;   
    border-top:1px solid #cccccc;
    margin:1em 0;
    padding:0;
}
input, select {
    vertical-align:middle;
}

ul {
    list-style: none;
}
button {
    background-color: transparent;
    outline: none;
    border: none;   
}
/* main */
html {
    width: 100%;
    height: 100%;
    font-size: 20px;
    font-family: 'Microsoft YaHei';
    overflow: hidden;
}
body {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
    background: linear-gradient(45deg, #bb469d 0%, #bd63ac 10%, #c58abd 20%, #d2aac7 30%, #cbbdc2 40%, #cbcac7 50%, #c1cec7 60%, #afe4d5 70%, #8dddd1 80%, #6ad3ce 90%, #50c8c9 100%);
}
.container {
    margin: 1rem auto 1rem;
    padding: 1rem;
    background-image: -webkit-radial-gradient(rgba(0, 0, 0, .4), rgba(255, 255, 255, .4));
    background-image: -moz-radial-gradient(rgba(0, 0, 0, .4), rgba(255, 255, 255, .4));
    background-image: -ms-radial-gradient(rgba(0, 0, 0, .4), rgba(255, 255, 255, .4));
    background-image: -o-radial-gradient(rgba(0, 0, 0, .4), rgba(255, 255, 255, .4));
    background-image: radial-gradient(rgba(0, 0, 0, .4), rgba(255, 255, 255, .4));
    border-radius: 1rem;
    overflow: hidden;
}
.container div {
    float: left;
    width: 10px;
    height: 10px;
    background-color: black;
    border: 1px solid red;
    cursor: pointer;
}
.wrap {
    float: left; 
    position: relative;
    left: 50%; 
}
.setting {
    position: relative;
    left: -50%; 
}
.board-control {
    margin-top: .3rem;
}
button {
    width: 4rem;
    height: 1.5rem;
    font-size: .8rem;
    color: white;
    margin: .2rem .4rem;
    border-radius: 11111px;
    background-color: #55caca;
    box-shadow: 1px 1px 10px 1px rgba(255, 255, 255, .2);
    opacity: .65;
    transition: all .3s ease-in-out;
}
button:hover {
    opacity: 1;
    cursor: pointer;
}

@media screen and (max-width: 580px) {
    html {
        font-size: 12px;
    }
    .setting>div {
        margin-bottom: 1rem;
    }
    .setting span {
        display: block;
        margin-bottom: .4rem;
    }
    #generation {
        display: inline;
    }
    button {
    width: 5rem;
    }
}